*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-size: 16px;
    line-height: 25px;
}

.btn {
    width: 30%;
    display: flex;
    border: 1px solid $bg;
    background-color: $bg;
    text-align: center;
    font-size: 15px;
    color: $white;
    font-weight: 500;
    line-height: 60px;
    padding: 0 30px;
    border-radius: 5px;
    text-transform: capitalize;
    margin:40px 0 ;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    &:hover{
        border: 1px solid $bg;
        background-color: transparent;
    }
}
