

$bg: #FAAF11;
$white: #fff;
$textColor:#FAB219;
$p_textColor: #66717A;
$h3_textColor: #23215b;
$h1_textColor: #23215b;
$black:#000;

//section background icon color
$banner-icon:#F9DDEE;
$course-icon:#FDD5D5;
$care-value-icon:#DCF4FC;

// wavify color 
$wavify1: #8D8BCB;
$wavify2: #2E2C74;
$wavify3: #8D8BCB;
$wavify4: #23215B;

// banner 
$icon1:#fab31c;
$icon2:#f32c2c;
$icon3:#df57a8;
$icon4:#51c9ee;
$icon5:#E2E716;
$icon6:#2D7CF1;
$icon1-bg:#feefcf;
$icon2-bg:#FDD5D5;
$icon3-bg:#F9DDEE;
$icon4-bg:#DCF4FC;
$icon5-bg:#F9FAD0;
$icon6-bg:#D5E5FC;

// Courses 
$course-bg:#FAF4EA;
$border-color:#f1f1f1;
$price-hover:#48D7EE;
$course-icon:#FDD5D5;

// teachers image background
$teacher-bg1:#ef476f;
$teacher-bg2:#06d6a0;
$teacher-bg3:#118ab2;
$teacher-bg4:#073b4c;



