

$bg: #FAAF11;
$white: #fff;
$textColor:#FAB219;
$p_textColor: #66717A;
$h3_textColor: #23215b;
$h1_textColor: #23215b;

// wavify color 
$wavify1: #8D8BCB;
$wavify2: #2E2C74;
$wavify3: #8D8BCB;
$wavify4: #23215B;

// banner 
$bannerIcon:#F9DDEE;
$card-icon1:#fab31c;
$card-icon2:#f32c2c;
$card-icon3:#df57a8;
$card-icon4:#51c9ee;
$card-icon1-bg:#feefcf;
$card-icon2-bg:#FDD5D5;
$card-icon3-bg:#F9DDEE;
$card-icon4-bg:#DCF4FC;

// Courses 
$course-bg:#FAF4EA;
$course-icon:#FDD5D5

