

$bg: #FAAF11;
$white: #fff;
$textColor:#FAB219;
$p_textColor: #66717A;
$h3_textColor: #23215b;

// wavify color 
$wavify1: #8D8BCB;
$wavify2: #2E2C74;
$wavify3: #8D8BCB;
$wavify4: #23215B;

// banner 
$bannerIcon:#F9DDEE;
$contentIcon1:#fab31c;
$contentIcon2:#f32c2c;
$contentIcon3:#df57a8;
$contentIcon4:#51c9ee;

