.banner {
  position: relative;
  overflow: hidden;
  padding: 110px 0;
  .icon {
    width: 1000px;
    height: 900px;
    color: $banner-icon;
    position: absolute;
    top: -500px;
    left: -250px;
    z-index: -10;
  }
  .left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .icons {
      width: 200px;
      height: 200px;
      position: absolute;
      right: 25px;
      bottom: 20px;
      color: $bg;
      stroke: $bg;
      stroke-width: 50px;
      overflow: visible;
      transition: 0.3s;
      &:hover {
        bottom: 50px;
      }
    }
    .image {
      object-fit: cover;
    }
  }
  .right {
    .right-content {
      .card {
        .card-icon1 {
          @include card-icon($icon1, $icon1-bg, $icon1-bg);
        }
        .card-icon2 {
          @include card-icon($icon2, $icon2-bg, $icon2-bg);
        }
        .card-icon3 {
          @include card-icon($icon3, $icon3-bg, $icon3-bg);
        }
        .card-icon4 {
          @include card-icon($icon4, $icon4-bg, $icon4-bg);
        }
        &:hover {
          cursor: pointer;
          .card-icon1 {
            @include card-hover($icon1);
          }
          .card-icon2 {
            @include card-hover($icon2);
          }
          .card-icon3 {
            @include card-hover($icon3);
          }
          .card-icon4 {
            @include card-hover($icon4);
          }
          h5 {
            color: $textColor;
          }
        }
      }
    }
  }
}
