.banner {
  position: relative;
  overflow: hidden;
  padding: 110px 0;
  .icon {
    width: 1000px;
    height: 900px;
    color: $bannerIcon;
    position: absolute;
    top: -500px;
    left: -250px;
    z-index: -10;
  }
  .left {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .icons {
      width: 200px;
      height: 200px;
      position: absolute;
      right: 25px;
      bottom: 20px;
      color: $bg;
      stroke: $bg;
      stroke-width: 50px;
      overflow: visible;
    }
    .image {
    object-fit: cover; 
    }
  }
  .right {
    .right-content {
      .card {
 
        .card-icon1 {
          @include card-icon($card-icon1,$card-icon1-bg, 3px solid $card-icon1-bg);

        }
        .card-icon2 {
          @include card-icon($card-icon2,$card-icon2-bg, 3px solid $card-icon2-bg);
      
        }
        .card-icon3 {
          @include card-icon($card-icon3,$card-icon3-bg, 3px solid $card-icon3-bg);
        
        }
        .card-icon4 {
          @include card-icon($card-icon4,$card-icon4-bg, 3px solid $card-icon4-bg);
         
        }
        &:hover{
          cursor: pointer;
          .card-icon1{
            @include card-hover($card-icon1);
          }
          .card-icon2{
            @include card-hover($card-icon2);
          }
          .card-icon3{
            @include card-hover($card-icon3);
          }
          .card-icon4{
            @include card-hover($card-icon4);
          }
          h5{
            color: $textColor;
          }
        }
      }
    }
  }
}
