.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  .menu {
    @include menu();
  }

  p {
    font-weight: 600;
    color: $p_textColor;
  }

  .number {
    color: $textColor;
    font-weight: 600;
    font-size: 18px;
  }

  .mobile-menu {
    display: none;
    font-size: 25px;
    position: relative;
    width: 100%;

    .mobile-XMark {
      overflow: hidden;
      position: absolute;
      top: 15px;
      right: 0;
      z-index: 999;
      float: right;
    }

    .mobile-content {
      position: absolute;
      width: 100%;
      right: 0px;
      top: 0px;
      background-color: $bg;
      z-index: 222;
      animation: right-to-left 1s;

      @keyframes right-to-left {
        0% {
          left: 500px;
        }

        100% {
          left: 0px;
        }
      }

      ul {
        margin-top: 20px;
        padding: 20px;
        z-index: 999;

        li {
          text-align: center;
          padding: 10px 0;
          z-index: 999;
          color: $white;
          font-size: 18px;
        }
      }

      &::after {
        content: "";
        position: absolute;
        right: -300px;
      }
    }

    .hamburger {
      overflow: hidden;
      position: absolute;
      top: 15px;
      right: 0;
      z-index: 999;
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0;

    .menu,
    .number,
    .logo {
      display: none;
    }

    .mobile-menu {
      display: block;
    }
  }
}