@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Quicksand:wght@300;400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-size: "open Sans", sans-serif;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Quicksand;
  font-size: 100px;
  line-height: 100px;
  color: #fff;
  font-weight: 700;
}

h2 {
  font-size: 65px;
  font-family: Quicksand;
  font-weight: 700;
  letter-spacing: -3px;
  color: #23215b;
  line-height: 60px;
  padding: 15px 0;
}

h3 {
  font-family: Sacramento;
  color: #FAB219;
  font-size: 60px;
  line-height: 70px;
  font-weight: 400;
}

h5 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 700;
  font-family: Quicksand;
  color: #23215b;
  line-height: 30px;
  letter-spacing: 1px;
}

p {
  font-size: 16px;
  line-height: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  width: 30%;
  display: flex;
  border: 1px solid #FAAF11;
  background-color: #FAAF11;
  text-align: center;
  font-size: 15px;
  color: #fff;
  font-weight: 500;
  line-height: 60px;
  padding: 0 30px;
  border-radius: 5px;
  text-transform: capitalize;
  margin: 40px 0;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  border: 1px solid #FAAF11;
  background-color: transparent;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.header .menu ul .active {
  color: #FAB219;
}
.header .menu ul li {
  display: inline-block;
  position: relative;
  padding: 5px 15px;
  text-transform: capitalize;
  line-height: 30px;
  font-size: 20px;
  margin: 0 5px;
  font-weight: 600;
  transition: 0.3s;
}
.header .menu ul li:hover {
  color: #FAB219;
}
.header .menu ul li .sub-arrow {
  position: absolute;
  font-size: 15px;
  bottom: 2px;
  right: -12px;
  transform: translate(-50%, -50%);
}
.header p {
  font-weight: 600;
  color: #66717A;
}
.header .number {
  color: #FAB219;
  font-weight: 600;
  font-size: 18px;
}
.header .mobile-menu {
  display: none;
  font-size: 25px;
  position: relative;
  width: 100%;
}
.header .mobile-menu .mobile-XMark {
  overflow: hidden;
  position: absolute;
  top: -12px;
  right: 0;
  z-index: 999;
}
.header .mobile-menu .mobile-content {
  position: absolute;
  width: 50%;
  right: 0px;
  top: -28px;
  background-color: red;
  opacity: 0.3;
  transition: 0.9s;
  z-index: 999;
}
.header .mobile-menu .mobile-content ul {
  margin-top: 20px;
  padding: 20px;
  z-index: 999;
}
.header .mobile-menu .mobile-content ul li {
  text-align: center;
  padding: 10px 0;
  z-index: 999;
  color: #fff;
}
.header .mobile-menu .hamburger {
  overflow: hidden;
  position: absolute;
  top: -12px;
  right: 0;
}

@media (max-width: 768px) {
  .header {
    padding: 0;
  }
  .header .menu {
    display: none;
  }
  .header .number {
    display: none;
  }
  .header .mobile-menu {
    display: block;
  }
}
.home {
  position: relative;
  overflow: hidden;
}
.home .background-wavify {
  width: 100%;
  position: relative;
  margin-top: 40px;
  height: 200px;
}
.home .background-wavify .wave1, .home .background-wavify .wave2, .home .background-wavify .wave3, .home .background-wavify .wave4 {
  height: 200px;
  position: absolute;
}
.home .slider {
  background-color: #23215B;
  height: 500px;
  position: relative;
}

.swiper {
  width: 100%;
  height: 700px;
  position: relative;
  top: -200px;
}
.swiper .swiper-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper .swiper-wrapper .swiper-slide .slider-image {
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}
.swiper .swiper-wrapper .swiper-slide .slider-image .animation {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  position: relative;
  overflow: hidden;
}
.swiper .swiper-wrapper .swiper-slide .slider-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
@keyframes example {
  0% {
    top: 100px;
  }
  25% {
    top: 0px;
  }
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  transition: 0.3s;
}
.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after {
  font-size: 18px;
  font-weight: bold;
  color: black;
}
.swiper .swiper-button-prev:hover,
.swiper .swiper-button-next:hover {
  background-color: #FAAF11;
}
.swiper .swiper-button-prev:hover::after,
.swiper .swiper-button-next:hover::after {
  color: #fff;
}

.banner {
  position: relative;
  overflow: hidden;
  padding: 110px 0;
}
.banner .icon {
  width: 1000px;
  height: 900px;
  color: #F9DDEE;
  position: absolute;
  top: -500px;
  left: -250px;
  z-index: -10;
}
.banner .left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner .left .icons {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 25px;
  bottom: 20px;
  color: #FAAF11;
  stroke: #FAAF11;
  stroke-width: 50px;
  overflow: visible;
}
.banner .left .image {
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .right .right-content .card .card-icon1 {
  font-size: 80px;
  color: #fab31c;
  width: 100px;
  height: 100px;
  padding: 20px;
  border-radius: 20%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #feefcf;
  border: 3px solid #feefcf;
}
.banner .right .right-content .card .card-icon2 {
  font-size: 80px;
  color: #f32c2c;
  width: 100px;
  height: 100px;
  padding: 20px;
  border-radius: 20%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FDD5D5;
  border: 3px solid #FDD5D5;
}
.banner .right .right-content .card .card-icon3 {
  font-size: 80px;
  color: #df57a8;
  width: 100px;
  height: 100px;
  padding: 20px;
  border-radius: 20%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9DDEE;
  border: 3px solid #F9DDEE;
}
.banner .right .right-content .card .card-icon4 {
  font-size: 80px;
  color: #51c9ee;
  width: 100px;
  height: 100px;
  padding: 20px;
  border-radius: 20%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DCF4FC;
  border: 3px solid #DCF4FC;
}
.banner .right .right-content .card p {
  color: #66717A;
}
.banner .right .right-content .card:hover {
  cursor: pointer;
}
.banner .right .right-content .card:hover .card-icon1 {
  border-radius: 50%;
  transition: 0.1s ease-in-out;
  background-color: #fff;
  border: 3px dashed #fab31c;
}
.banner .right .right-content .card:hover .card-icon2 {
  border-radius: 50%;
  transition: 0.1s ease-in-out;
  background-color: #fff;
  border: 3px dashed #f32c2c;
}
.banner .right .right-content .card:hover .card-icon3 {
  border-radius: 50%;
  transition: 0.1s ease-in-out;
  background-color: #fff;
  border: 3px dashed #df57a8;
}
.banner .right .right-content .card:hover .card-icon4 {
  border-radius: 50%;
  transition: 0.1s ease-in-out;
  background-color: #fff;
  border: 3px dashed #51c9ee;
}
.banner .right .right-content .card:hover h3 {
  color: #FAB219;
}

.course {
  background-color: #FAF4EA;
  padding: 100px 0;
}/*# sourceMappingURL=index.css.map */